:root {
    --border-radius: 5px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#partnerCompany {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-right: 34px;
    gap: 20px;
    
}

#partnerCompany>.data-container {
    /* width: calc(100% - 310px); */
    width: 100%;
}

#partnerCompany .data-container>.data-header {
    width: 100%;
    padding-top: 10px;
    padding-left: 30px;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #999fc0;
}

#partnerCompany .data-header>.right-side {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 33px;
}
#partnerCompany .data-header>.right-side>.group {
    font-size: 16px;
    color: #999fc0;
}
#partnerCompany .data-header>.right-side .select-type {
    width: 150px;
    padding: 7px;
    color: #222234;
    background-color: #C2C5D9;
    border: none;
    border-radius: 5px;
}

#partnerCompany .data-header>.tabs-container {
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    gap: 5px;
}
#partnerCompany .data-header>.tabs-container>.tab {
    width: fit-content;
    height: 44px;
    padding: 12px;
    color: #555B76;
    background-color: #353A4F;
    border-radius: 5px 5px 0px 0px;
    font-size: 13px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}
#partnerCompany .data-header>.tabs-container>.active-tab {
    background-color: #999FC0;
    color: #222234;
}
#partnerCompany .data-header>.tabs-container>.tab .icon {
    font-size: 22px;
}
#partnerCompany .tabs-container>.tab>.confirmation-icon {
    position: relative;
    margin-right: 5px;
}
#partnerCompany .tabs-container>.tab>.confirmation-icon>.bars-icon {
    position: absolute;
    bottom: -2px;
    right: -8px;
    font-size: 15px;
    
}

#partnerCompany .data-container .content-container .all-content {
    width: 100%;
    height: calc(100vh - 110px);
    display: none;
    overflow-y: scroll;
}
#partnerCompany .data-container .content-container .partner-content {
    display: none;
}
#partnerCompany .data-container .content-container .permission-content {
    display: none;
}
#partnerCompany .data-container .content-container .confirmation-content {
    display: none;
}


#partnerCompany .data-container>.content-container .active-content {
    display: block;
}

#partnerCompany .data-container .all-content>.content-row {
    width: 100%;
    height: 196px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px 30px;
    border-bottom: 1px solid #C2C5D9;
    gap: 10px;
}
#partnerCompany .data-container .content-row:nth-child(odd) {
    background-color: #555B76;
}
#partnerCompany .data-container .content-row:nth-child(even) {
    background-color: #3B4057;
}

#partnerCompany .all-content .content-row>.profile-container {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
}
#partnerCompany .all-content .content-row>.profile-container>img {
    width: 100%;
    height: 100%;
}
#partnerCompany .data-container .content-container .all-content-data {
    width: 100%;
}
#partnerCompany .data-container .all-content>.content-row>.next {
   width: fit-content;
   align-self: center;
   cursor: pointer;
}
#partnerCompany .data-container .all-content>.content-row>.next>.icon {
    font-size: 30px;
    
    color: #999FC0;
}

#partnerCompany .all-content .content-row .all-content-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
#partnerCompany .all-content .content-row .all-content-header>.company-name {
    width: fit-content;
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 600;
}
#partnerCompany .all-content .content-row .all-content-header>.right-side {
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
#partnerCompany .all-content-header>.right-side>.icon-container {
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
} 
#partnerCompany .all-content-header>.right-side>.icon-container>.icon {
    color: #FFF;
    font-size: 16px;
}
#partnerCompany .all-content-header>.right-side>.order-container {
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
#partnerCompany .all-content-header>.right-side>.order-container>.orders {
    width: fit-content;
    padding: 5px 10px;
    border: 1px solid #FF9D00;
    background-color: transparent;
    color: #C2C5D9;
    border-radius: 2px;
    font-size: 10px;
    cursor: pointer;
}
#partnerCompany .all-content-header>.right-side>.order-container>.order {
    width: fit-content;
    padding: 5px 10px;
    border: 1px solid #03A323;
    background-color: transparent;
    color: #C2C5D9;
    border-radius: 2px;
    font-size: 10px;
    cursor: pointer;
}

#partnerCompany .data-container .content-container .all-content-data>.content-text {
    font-size: 13px;
    color: #C2C5D9;
    margin-bottom: 10px;
}
#partnerCompany .all-content-data>.detail-container .detail-location-row {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    
}
#partnerCompany .all-content-data>.detail-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#partnerCompany .all-content-data>.detail-container .location,
#partnerCompany .all-content-data>.detail-container .tool
{
    min-width: 170px;
    color: #C2C5D9;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}
#partnerCompany .all-content-data>.detail-container .detail-type>.grid-item {
    display: grid;
    grid-template-columns: 50px auto auto;
    justify-content: start;
    gap: 10px;
    color: #C2C5D9;
}

#partnerCompany .all-content-data>.detail-container>.company>button {
    padding: 5px 20px;
    background-color: #007AFF;
    border-radius: 25px;
    border: none;
    color: #FFFFFF;
    font-weight: 600;
    box-shadow: 0 3px 6px #00000029;
    cursor: pointer;
}







/* ............................... */
#partnerCompany .search-container {
    width: 310px;
    padding-top: 56px;
}
#partnerCompany .search-bar {
    width: 100%;
    padding: 7px 10px;
    background-color: #c2c5d9;
    display: flex;
    flex-direction: row;
    gap: 5px;
    position: relative;
    border-radius: var(--border-radius);
    margin-bottom: 20px;
}
.search-icon>.icon {
    font-size: 20px;
    color: #999fc0;
}
.cancel-icon >.icon {
    font-size: 13px;
    color: #999fc0;
}
#partnerCompany .search-bar .search-text {
    background-color: transparent;
    width: 100%;
    font-size: 13px;
    border: none;
    outline: none;
}

#partnerCompany .filter-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;

}
#partnerCompany .filter-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}
#partnerCompany .filter-header>.head-text {
    font-size: 16px;
    color: #c2c5d9;
}
#partnerCompany .filter-header>.text {
    font-size: 10px;
    color: #999fc0;
}
#partnerCompany .filter-container>hr {
    color: #c2c5d9;
}
#partnerCompany .filter-type {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    gap: 10px;
}
#partnerCompany .filter-type>.icon {
    color: #999fc0;
    font-size: 20px;
}
#partnerCompany .filter-type>.data-container {
    width: 100%;
    

}
#partnerCompany .filter-type .type {
    color: #c2c5d9;
    font-size: 13px;
    margin-bottom: 10px;
}
#partnerCompany .filter-type .data {
    width: 100%;
    background-color: #c2c5d9;
    border-radius: var(--border-radius);
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    
}
#partnerCompany .filter-type .data>.display {
    width: calc(100% - 40px);
    font-size: 13px;
    color: #999fc0;;
   
}
#partnerCompany .filter-type .data>.icon {
    width: fit-content;
    color: #999fc0;
    font-size: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px   ;
}

#partnerCompany .filter-type>.data-type {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
} 
#partnerCompany .filter-type>.item {
    width: 100%;
}
#partnerCompany .filter-type .check-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}


#partnerCompany .filter-type .check-container .label {
    width: fit-content;
    position: relative;
    color: #c2c5d9;
    font-size: 13px;
    padding-left: 40px;
    padding-top: 10px;
    display: block;
    /* border: 1px solid red; */
    
}
#partnerCompany .filter-type .check-container .select {
    /* width: 34px;
    height: 34px;
    background-color: #2b2b41; */
    width: 0;
    height: 0;
    top: 2px;
    left: 2px;
    position: absolute;
    /* border-radius: 5px; */
    
}

#partnerCompany .filter-type .check-container .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    width: 30px;
}
#partnerCompany .filter-type .check-container .select:checked  {
    width: 30px;
    height: 30px;
}
#partnerCompany .filter-type .check-container .checkmark:after {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    border: 2px solid #C2C5D9;
    border-radius: 5px;
}

@media (max-width: 1400px ) {
    #partnerCompany {
        padding-right: 20px;
        gap: 10px;
    }

    #partnerCompany .data-container .all-content>.content-row {
        padding: 10px 20px;
    }

    /* ......search container........ */
    /* #partnerCompany .search-container {
        
    } */
}

@media (max-width: 1300px ) {

    #partnerCompany {
        padding-right: 15px;
        gap: 10px;
    }

    #partnerCompany .data-container .all-content>.content-row {
        height: 210px;
        padding: 10px 15px;
    }

}




